html {
	font-size: 16px;

	@include tablets {
		font-size: 14px;
	}

	@include phones {
		font-size: 13px;
	}

	html,
	body {
		height: 100%;
		margin: 0;

		;
	}
}


body {
	font-family: ubuntu, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $black;
	font-weight: 300;

	line-height: 1.42;
	font-size: .875rem;
}

.wrapper {
	width: 100%;
	position: relative;
	min-height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	width: 100%;
	display: flex;
	flex-direction: column;


}

.section {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative; // ЧТоб на 1й странице внизу экрана можно было прикрутить стрелку вниз
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}

button {
	border: 1px solid transparent;
	background: transparent;
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

.text-block p {
	font-size: 0.875rem;
	line-height: 1.8;

}

.text-block p a {
	text-decoration: none;
	color: $yellow;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

address {
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}