.header {


    max-width: 940px;
    width: 100%;

    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;



    &__logo {
        display: inline-block;
        position: relative;
        z-index: 110;
        padding-top: 0.75rem;
    }

    &__logo-img {
        max-width: 94px;
    }

    &__buttons {
        flex: 1;
        text-align: right;
        margin-right: 0.375rem;
    }

}