.hero {
	background-image: url('../img/hero/bg.png');

	&__container {
		// display: flex;
		// align-items: center;
		// justify-content: space-around;


		display: grid;
		grid-template-areas:
			"img title"
			"img desc";
	}

	&__picture {
		grid-area: img;
		margin-bottom: 6rem;
		margin-right: 1rem;
	}

	&__title {
		grid-area: title;
		align-self: end;
		font-size: 4.5rem;
	}

	&__desc {
		grid-area: desc;
		align-self: start;
		color: #fff;
		font-family: Lifehack;
		font-size: 4.0625rem;
		line-height: 1;
	}


}