%arrow-up {
	width: 0;
	height: 0;
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 2rem solid $yellow;
}

%arrow-down {
	width: 0;
	height: 0;
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-top: 2rem solid $yellow;
}


.team {
	background-image: url('../img/team/bg.png');
	// height: 100%;


	
}