.vert-slider {
	position: absolute;
	top: 200px;
	right: calc(50% - 480px);
	display: flex;
	flex-direction: column;

	&__radio {
		cursor: pointer;

		&-elem {
			position: absolute;
			top: 0;
			left: -9999px;
		}

		&-fake {
			display: inline-block;
			position: relative;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			margin-bottom: 16px;
			background-color: #fff;
		}

		&-fake::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-radius: 50%;
			border: 1px solid #fff;
		}
	}

	.vert-slider__radio-elem:checked+.vert-slider__radio-fake::after {
		border: 1px solid #fff;
		width: 15px;
		height: 15px;
	}
}