.btn {
	border-radius: 5px;
	padding: 10px 15px;

	font-weight: 500;
	background-color: $red;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;

	&--bg-black {
		background-color: $black;
	}
}