.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;


	padding: 0 10%;
	background-color: $black;
	height: 8%;


	&__col {
		flex: 1;
		background-color: $black;
	}

	&__contacts {
		display: flex;
		// flex-direction: column;
		// justify-content: center;
		align-items: center;
	}
}

.contacts {

	// align-items: center;

	&__address {
		color: #fff;
		margin-bottom: rem(14px);

		@include phones {
			margin-bottom: rem(6px);
		}
	}

	&__phone {
		display: flex;

		@include phones {
			justify-content: center;
		}
	}
}

.phone {
	&__img {
		margin-right: rem(9px);
	}

	&__link {
		color: $red;
		font-weight: 700;
		display: flex;
	}
}