.hero {
	background-image: url('../img/hero/bg.png');

	&__container {
		display: grid;
		grid-template-areas:
			"img title"
			"img desc";

		@include tablets {
			grid-template-areas:
				"img"
				"title"
				"desc";
		}

	}

	&__img-wrapper {
		grid-area: img;
		margin-bottom: 6rem;
		margin-right: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__burger-img {
		min-width: 100%;
		min-height: 100%;
		object-fit: contain;

	}


	&__title {
		grid-area: title;
		align-self: end;
		font-size: 4.5rem;
	}

	&__desc {
		grid-area: desc;
		align-self: start;
		color: #fff;
		font-family: Lifehack;
		font-size: 4.0625rem;
		line-height: 1;
	}


}