.hero {
  background-image: url('../img/hero/bg.png');
  position: relative;

  &__container {
    margin: auto;
    display: grid;
    grid-template-areas: "img title""img desc";

    @include tablets {
      grid-template-areas: "img""title""desc";
      text-align: center;
    }
  }

  &__img-wrapper {
    margin: 0 auto;
    grid-area: img;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
  }

  &__burger-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    grid-area: title;
    align-self: end;

  }

  &__desc {
    grid-area: desc;
    align-self: start;
    color: #fff;
    font-family: Lifehack;
    font-size: 4.0625rem;
    line-height: 1;
  }
}