.how-work {
	background-image: url('../img/how_work/bg.png');

	& .container {
		// height: rem(720px);
		margin-bottom: 4rem;
	}

	& .title {
		text-align: center;
	}

	& .video-js {
		width: 90%;
		margin: 0 auto;
		// height: rem(720px);

		// @include tablets {}
	}
}