.menu {
	background-image: url('../img/menu/photo-big.png');
	color: #fff;
	position: relative;

	&__title {
		color: #fff;
		position: absolute;
		left: 5rem;
		top: 5rem;
	}
}

.menu-accordion {

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;

	@include tablets {
		max-width: 100%;
	}

	display: flex;
	justify-content: flex-end;
	align-items: stretch;

	&__item {
		display: flex;
		justify-content: flex-end;
	}

	&__link {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 5rem;

		@include phones {
			width: 3.5rem;
		}
	}

	&__title {
		white-space: nowrap;
		color: #fff;
		font-size: 2.5rem;
		transform: rotate(-90deg);

		.is-active & {
			color: $yellow;
		}
	}

	&__content {
		// display: none;
		background-color: rgba(47, 50, 52, 0.93);
		width: 0;
		transition: width 1s;
		overflow: hidden;

		.is-active & {
			width: 100%;
		}

		& p {
			padding: 3.75rem 1.875rem;
			line-height: 1.8;
			font-weight: 300;
			font-style: normal;
			font-size: 0.875rem;


		}

	}
}