.nav {
	font-size: .8125rem;
	font-style: normal;
	font-weight: 500;



	&__list {
		display: flex;
		justify-content: flex-end;

		@include tablets {
			flex-direction: column;
		}


	}

	.nav_hamburger &__item {
		display: block;
		opacity: 0;
		transition: opacity .05s;
		// animation-fill-mode: forwards;

		&.is-active {
			opacity: 1;
		}
	}

	&__link {
		color: white;

		text-transform: uppercase;
		display: flex;
		align-items: center;

		.nav_hamburger & {
			font-size: 1.5625rem;
			flex-direction: column;

			&:hover {
				text-decoration: underline;
			}
		}

		&:after {
			content: "";
			width: 0.25rem;
			height: 0.25rem;
			display: block;
			border-radius: 50%;
			background: #fff;
			margin: 0 0.875rem;

			.nav_hamburger & {
				margin: 15px auto;
			}

		}
	}

	&__item:last-child .nav__link:after {
		display: none;
		margin: 0 0.875rem;
	}
}