.reviews {
	background: #000;
	position: relative;

	&__list {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}


	&__item {
		color: #fff;
		filter: grayscale(100%);
		background: center center / cover no-repeat;
		position: relative;

		width: 25%;
		height: 50%;

		@include tablets {
			width: 50%;
			height: 25%;


		}

		&:hover {
			.reviews__hover-block {
				opacity: 1;
				transform: scale(1);
				transition: .4s;
			}
		}
	}

	&__hover-block {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		background: rgba(#000, .5);
		opacity: 0;
		transform: scale(1);

		padding: 1.5625rem 1.25rem;


		@include tablets {
			padding: 0 15%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	&__title {
		font-family: gagalin, cursive;
		margin-top: 10%;

		@include phones {
			margin-top: 0;
		}

		margin-bottom: 5%;
	}

	&__text {
		margin-bottom: 5%;

		@include phones {
			display: none;
		}

	}


	&__expanded-block {
		position: absolute;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);

		width: 30rem;

		@include phones {
			width: 90%;
		}

		border-radius: 5px;
		background-color: #fff;
	}

	&__expanded-block-top-row {
		display: flex;
		justify-content: space-between;
		margin: 1rem;
	}

	&__expanded-block-name {
		font-family: gagalin, cursive;
		font-weight: 300;
		font-size: 0.875rem;
		text-transform: uppercase;
		// margin-bottom: 1.5625rem;
	}

	&__expanded-block-close {
		grid-area: close_icon;
		content: url('../img/icons/close.svg');
	}

	&__expanded-block-text {
		font-size: 0.875rem;
		font-family: ubuntu, Verdana, Arial, sans-serif;
		font-weight: 300;
		// font-style: normal;
		margin: 1rem;
	}
}