.team {
	background-image: url('../img/team/bg.jpg');

	// height: 100%;
	&__container {
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		background-color: rgba(47, 50, 52, 0.93);

		@include tablets {

			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			text-align: center;
		}

	}

	&__details {
		margin: 15% auto;
		width: 80%;

		@include tablets {
			margin-top: 5rem;
		}


		&__title {
			margin-bottom: 5rem;
		}
	}
}