.team {
	background-image: url('../img/team/bg.png');

	// height: 100%;
	&__container {
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		background-color: rgba(47, 50, 52, 0.93);

		@include tablets {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

	}

	&__details {
		margin: 5% 2% 0 7%;

		@include tablets {
			padding: 0 25%;
		}


		&__title {
			margin-bottom: 5rem;
		}
	}
}