.we-best {
	background-image: url('../img/we-best/bg.jpg');
	text-align: center;

	@include phones {
		background-image: url('../img/we-best/phone_bg.jpg');
		background-size: auto;
		align-items: flex-start;

	}


	& .title {
		margin: 3.75rem 0;

		@include phones {
			margin: 1rem 0;
		}
	}



	&__list {
		display: flex;
		flex-direction: row;

		@include phones {
			flex-direction: column;
		}
	}

	&__item {
		flex: 1;
		margin-bottom: 3.125rem;
		padding: 0 0.9375rem;

		@include phones {
			padding: 0;
		}
	}
}